.my_header .el-input__inner{
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.my_header .el-badge__content.is-fixed {
  position: absolute;
  top: 5px;
  right: 12px;
}
/*论坛*/
.discussion .el-textarea{
  width: 94%;
}
.edit_btn .el-button--text{
  color: #d9a641
}
.discussion .edit_btn .el-button{
  padding:0;
  border:none;
}

/*.discussion .el-upload-list {
  display: flex;
  justify-content:space-between;
  align-content:center;
  flex-wrap: wrap;
}*/
.discussion .el-textarea__inner{
  height: 100px;
  margin-bottom: 10px;
}
/*首页*/
.home .el-input{
  width: 330px;
}
.home .el-form{
  margin-left: 34%;
  margin-top: 30px;
}
.home .el-form-item__label{
  font-size: 16px;
  color: #fff;
}
.home .el-radio-group{
  margin-left: 39.5%;
}
.home .el-radio__label{
  color: #fff;
}
.home .el-button{
  margin-top:20px;
  margin-left: 18%;
}
/*侧边栏*/
.left_nav .el-submenu__title,.left_nav .el-menu-item {
  height:96px;
  line-height: 26px;
  padding:22px 20px;
}
.left_nav .el-submenu .el-menu-item {
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding-left: 0px !important;
  padding-right:0px;
  min-width: 119px;
}
.society .el-input{
  width: 182px !important;
}
.member .el-input{
  width: 150px !important;
}
.society .el-select .el-input,.member .el-select .el-input{
  width: 150px !important;
}
.society .el-message-box>.el-message-box__content .el-input__inner{
  height: 78px !important;
}
.society .el-button+.el-button{
  margin-left:0px;
}
.materials .el-input{
  width: 166px !important;
}
.activity .el-input{
  width: 166px !important;
}
.news .el-input{
  width: 166px !important;
}
.allNews .el-input{
  width: 280px !important;
}
.mySpace  .el-input{
  width: 288px !important;
}
.editPass .el-input{
  width: 310px !important;
}
.addSociety .el-input{
  width: 310px !important;
}

.addSociety .el-textarea__inner{
  width: 500px !important;
  height: 100px;
}
.addSociety .el-upload-list__item{
  margin-right:10px;
}
.addMember .el-input{
  width: 310px !important;
}
.addMember .el-textarea__inner{
  width: 500px !important;
  height: 100px;
}
.addMaterials .el-textarea__inner{
  width: 500px !important;
  height: 100px;
}
.addMaterials .el-input{
  width: 310px !important;
}
.addActivity .el-input{
  width: 310px !important;
}
.addActivity .el-textarea__inner{
  width: 500px !important;
  height: 100px;
}
.addNews .el-textarea__inner{
  width: 500px !important;
  height: 100px;
}
.addNews .el-input{
  width: 310px !important;
}

.headImg .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.headImg .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.headImg .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.headImg .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.edtiSociety .el-input{
  width: 310px !important;
}
.edtiSociety .el-textarea__inner{
  width: 500px !important;
  height: 100px;
}
.changeMain .el-input{
  width: 180px !important;
}
.changeMain .el-radio__inner{
  width: 18px;
  height:18px;
}
.myPagination  .el-input {
  width: 70px !important;
}
.myPagination  .el-pager li{
  font-size:16px;
}
.addStudent .el-input{
  width: 274px !important;
}
.mySpace .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.mySpace .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.mySpace .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.mySpace .avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.changeMain .el-radio__input {
  width: 128px!important;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
