.span_mar_top{
  margin-top: 4px;
}
.flex_box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.orange:hover {
  color: #d9a641
}
.orange_color{
  color: #d9a641
}

.list li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;

}
.list li span {
  word-wrap:break-word;
  width: 146px;
  text-align: center;
  max-height: 50px;
  white-space:nowrap;
  text-overflow:ellipsis;
  word-break:break-all;
  overflow:hidden;
}
.list li div {
  display: inline-block;
  width: 146px;
  text-align: center;
}
.list li:nth-child(2n) {
  background-color: #fff

}
.list li:nth-child(2n+1) {
  background-color: #f4f4f5
}
.list li:nth-child(2n):hover {
  background: #e4e4e4;
}
.list li:nth-child(2n+1):hover {
  background: #e4e4e4;
}
